body {
    background-color: rgb(65, 111, 218);
}

h1 {
    text-align: center;
    color: rgb(62, 17, 152);
    }

fieldset {
    border-radius: 15px;
    border-width: 1px;
}

#button {
    margin: 5px;
    font-size: large;
    border-width: 3px;
    border-radius: 5px;
    float: inline-end;
}