h1 {
    text-align: center;
    color: maroon;
    }
body {
    background-color: lightgray;
    margin-right: 20px;
    
}

fieldset{
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
}

p{
    margin-top: 10px;
    background-color: aqua;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background-color: green;  /* Mörkare grönt vid hover */
}

select input[type="checkbox"], input[type="submit"]{
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: lightgreen;
}

    